.head-text{
    position: relative;
    color: white;
    .center__text{
        position: absolute;
        width:265px;
        overflow: hidden;
        font-size: 36px;
          top: 30%;
          left: 0%;
        }
    
}

